/*styling for landing page (index.html)*/
*{
    padding: 0;
    margin: 0;
}

.header {
	color: white;
	background-color: #483D8B;
}
.header h1 {
	font-family: "Montserrat", sans-serif;
	color: white;
	font-size: 150%;
	padding: 20px;
	
}
.header img {
	width: 100%
}

ul { /* styling for the menu */
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: oldlace;
}

li {
	display: inline;
}

li a {
	display: block;
	color: #483D8B;
	font-family: "Montserrat", sans-serif;
	font-size: 120%;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: solid black 1px;
}
li a:hover {
	background-color: #483D8B;
	color: white;
}

body {
    background-color: tan;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: #242D42;
    margin: 0;

}
a {
	color: #FA9EC0;
}

.title {
    color: #483D8B;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 150%;
}

.startButton {
	background-color: #483D8B;
	color: white;
	font-size: 1.4em;
	margin: auto;
	display: block;
	padding: 16px 32px;
	width: 50%;
}

.startButton:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}


.container1 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 15px;
	margin: 25px;
}
.container1 img {
	width: 15%;
}
.container2 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 10px;
	margin: 25px;
}
.container3 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 10px;
	margin: 25px;
}
.container3 img {
	width: 30%;
}


/*button {

    color: white;
    background-color: #89cff0 ;
    border: none;

    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    align-content: center;
    align-items: flex-end;
    display: flex;

    padding: 10px 24px;
    margin: 4px 2px;

    cursor: pointer;
}*/
	
	

.twitterFrame{
    margin: 5%;
}
.twitter-timeline {

    width: 100%;
    padding: 0.5%;

}
#socialMedia{
	color: #483D8B;
	font-family: "Montserrat", sans-serif;
	font-size: 130%;
	margin-bottom: 2rem;
	margin: 20px;
}

#email:link{
	text-decoration: none;
	color: #FFE8E1;

}
#email:hover{
	color: #95C6EE;
}

#email:visited{
	color: #E22837;
}

footer {
	background-color: #483D8B;
	color: white;
	font-family: "Montserrat", sans-serif;
	padding: 10px;
}


/*** design for question.html ***/


#question{
	color: white;
	background-color: #483D8B;
	font-family:"Montserrat", sans-serif;
	font-size: 22px;
	margin:0;
}

.questionContainer{
	background-color: aliceblue;
	margin-bottom: 0.5rem;

}

.questionButton  {
	background-color: coral;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: none; /* hides inputs and submit buttons */
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}
.questionButton:hover{
	background-color: white;
	border: 2px solid coral;
	color: coral;

}
.answerButton {
	background-color: azure;
	border-color: #483D8B;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: none;
	font-size: 20px;
	margin: 4px 2px;


}

/* hides inputs and submit buttons in question.html */
.questionButton {
	display: none;
}

#qrBtn {
	display: block;
	margin: auto;
	align: center;
	padding: 12px;
}

#skipButton {
	display: block;
	margin: auto;
	align: center;
	padding: 15px;
}

/* design to chow/hide qr code  */
.qrBtn {
	background-color: #4CAF50;
	color: white;
	padding: 0.5em;
	font-size: 0.9em;
	border: none;
	cursor: pointer;
	display: inline;
}

.div-content {

	margin:auto;
	border: 1px solid black;
	display: none;
	position: relative;
	background-color: aliceblue;
	width:150px;
	height: 150px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

video{
	height: 100%;
	position: absolute; /*positions the video relative to parent element (div-content)*/
	top:0; /*this ensures that the position of the video is at the very top*/
	left:-50%; /*this sets the camera/video frame position to be 50% to the left (centers the camera)*/

}
.show {display:block;}