/*styling for landing page (index.html)*/
*{
    padding: 0;
    margin: 0;
}

.header {
	background-color: #483D8B;
}
.header h1 {
	font-family: "Montserrat", sans-serif;
	color: white;
	font-size: 130%;
	padding: 10px;
	
}
.header img {
	width: 100%
}

ul { /* styling for the menu */
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: oldlace;
}

li {
	display: inline;
}

li a {
	display: block;
	color: #483D8B;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: solid black 1px;
}
li a:hover {
	background-color: #483D8B;
	color: white;
}

body {
    background-color: tan;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: #242D42;
    margin: 0;

}

/*
header{


    background-image: url("images/parley (1).png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 35%;
    width: 100%;

#EEFCF8 light blue color

}*/

.title {
    color: #483D8B;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.startButton {
	background-color: #483D8B;
	color: white;
	font-size: 1.2em;
	margin: auto;
	display: block;
	padding: 16px 32px;
}

.startButton:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}


.container1 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 10px;
	margin: 10px;
}
.container1 img {
	width: 30%;
}
.container2 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 10px;
	margin: 10px;
}
.container3 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 10px;
	margin: 10px;
}
.container3 img {
	width: 30%;
}


/*button {

    color: white;
    background-color: #89cff0 ;
    border: none;

    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    align-content: center;
    align-items: flex-end;
    display: flex;

    padding: 10px 24px;
    margin: 4px 2px;

    cursor: pointer;
}*/
	
	

.twitterFrame{
    margin: 5%;
}
.twitter-timeline {

    width: 100%;
    padding: 0.5%;

}


footer {
	background-color: #483D8B;
	color: white;
	font-family: "Montserrat", sans-serif;
	padding: 10px;
}

/* design for question.html */

/* hides inputs and submit buttons */
.questionButton {
	display: none;

}