/*styling for landing page (index.html)*/
*{
    padding: 0;
    margin: 0;
}

.header {
	color: white;
	background-color: #483D8B;
}
.header h1 {
	font-family: "Montserrat", sans-serif;
	color: white;
	font-size: 180%;
	padding: 20px;
	
}
.header img {
	width: 10%;
}

ul { /* styling for the menu */
	list-style-type: none;
	margin-right: 10%;
	margin-left:10%;
	padding: 0;
	background-color: oldlace;
}

li {
	display: inline;
}

li a {
	display: block;
	color: #483D8B;
	font-family: "Montserrat", sans-serif;
	font-size: 120%;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: solid black 1px;
}
li a:hover {
	background-color: #483D8B;
	color: white;
}

body {
    background-color: tan;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: #242D42;
    margin: 0;
	padding:0;

}
a {
	color: #FA9EC0;
}

.title {
    color: #483D8B;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 150%;
}

.startButton {
	background-color: #483D8B;
	color: white;
	font-size: 1.4em;
	margin: auto;
	display: block;
	padding: 16px 32px;
	width: 50%;
}

.startButton:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}


.container1 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 15px;
	margin: 25px;
}
.container1 img {
	width: 15%;
}
.container2 {
	/*border: solid 1px black;*/
	background-color: oldlace;
	padding: 10px;
	margin:50px 25px 50px 25px;
	/*margin: 25px 0 25px 0;*/
}
.containerTest {
	border: solid 1px black;
	background-color: oldlace;
	padding: 10px;
	margin: 25px;
}
.container3 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 10px;
	margin: 25px;
}
.container3 img {
	width: 30%;
}
.container4 {
	border: solid 1px black;
	background-color: oldlace;
	padding: 15px;
	margin: 25px;
}

.twitterFrame{
    margin: 5%;
}
.twitter-timeline {

    width: 100%;
    padding: 0.5%;

}
#socialMedia{
	color: #483D8B;
	font-family: "Montserrat", sans-serif;
	font-size: 130%;
	margin-bottom: 2rem;
	margin: 20px;
}

#email:link{
	text-decoration: none;
	color: #FFE8E1;

}
#email:hover{
	color: #95C6EE;
}

#email:visited{
	color: #E22837;
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #483D8B;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
  color: white;
  padding: 25px;
  font-family: "Montserrat";
  background-color: #483D8B;
}


footer {
	background-color: #483D8B;
	color: white;
	font-family: "Montserrat", sans-serif;
	padding: 10px;
}


/*** design for question.html ***/

#question{
	color: white;
	background-color: #483D8B;
	font-family:"Montserrat", sans-serif;
	font-size: 22px;
	margin:0;
}
#progressInfo{

	margin: 0;
	padding: 0;
	color: white;
	background-color: #6F63BB;
	position: relative;
	height: 60px;
	display: block;

}

#questionNo {

	border: none;
	padding: 15px 32px;
	text-align: left;
	text-decoration: none;
	font-size: 20px;
	margin: 4px 2px;
	float:left;

}
#score{
	border: none;
	padding: 15px 32px;
	text-align: right;
	text-decoration: none;
	font-size: 20px;
	margin: 4px 2px;
	float: right;
}

.questionContainer{
	background-color: aliceblue;
	margin-bottom: 0.5rem;

}

.questionButton  {
	background-color: #6F63BB;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: none; /* hides inputs and submit buttons */
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}

.clickable:hover{
	background-color: white;
	border: 2px solid #6F63BB;
	color: #6F63BB;

}

.answerButton {
	background-color: azure;
	border-color: #483D8B;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: none;
	font-size: 20px;
	margin: 4px 2px;
	width: 60%;
}

/* hides inputs and submit buttons in question.html */
.questionButton {
	display: none;
}

#qrBtn {
	display: block;
	margin: auto;
	align: center;
	padding: 12px;
}

#skipButton {
	margin: auto;
	align: center;
	padding: 15px;
}

/* design to show/hide qr code  */
.qrBtn {
	background-color: #4CAF50;
	color: white;
	padding: 0.5em;
	font-size: 0.9em;
	border: none;
	cursor: pointer;
	display: inline;
}

.div-content {

	margin:auto;
	border: 1px solid black;
	display: none;
	position: relative;
	background-color: aliceblue;
	width:150px;
	height: 150px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

video{
	height: 100%;
	position: absolute; /*positions the video relative to parent element (div-content)*/
	top:0; /*this ensures that the position of the video is at the very top*/
	left:-50%; /*this sets the camera/video frame position to be 50% to the left (centers the camera)*/

}


/*css styling for scoreboard*/

#scoreboard{


	margin: 0;
	top: 0;
	width: 100%;



}


#scoreboardTitle{

	margin: 0;

}

#toHome{

	width: 30px;
	height: 30px;
	margin: auto;
	padding: 10px 10px;
	/*margin-top: 5px;*/
	position: absolute;
	top:0;
	left:0;


}
#hpIcon{
	width:100%;
}

/*style for table */

table{

	margin: 0;
	margin-top: 200px;
	border: 3px solid white;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

}

th, td {

	margin: 0;
	font-size: medium;
	text-align: justify;
	padding: 8px;


}


.show {display:block;}